*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

ul,ol{
	list-style: none;
}
img{
	vertical-align: middle;
}

body{
	overflow-x: hidden;
}

.container{
	max-width: 80%;
	margin: auto;
}